[submodule "dependabot-proxy"]
	path = dependabot-proxy
	url = https://github.com/dependabot/proxy.git
[submodule "dependabot-action"]
	path = dependabot-action
	url = https://github.com/github/dependabot-action.git
[submodule "dependabot-cli"]
	path = dependabot-cli
	url = https://github.com/dependabot/cli.git
[submodule "dependabot-fetch-metadata"]
	path = dependabot-fetch-metadata
	url = https://github.com/dependabot/fetch-metadata.git
